h1{
    color: rgb(0, 255, 21);
}
h2{
    color:Blue;
}
p{
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
.SHORNA{
     color: indigo;
}
.robin{
    background-color: navy;
    font-weight: 700;
    
    
}